<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <h1 class="title-customer">List all customers</h1>
      <div class="top-button-container">
        <button class="btn btn-primary btn-custom my-3" (click)="addCustomer()"> Add customer</button>
        <form>
          <div class="search">
            <input class="input-search" type="text" [formControl]="queryControl" placeholder="Search..." />
            <button class="btn-search">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th (click)="sort('code')">Code <i class="fa fa-sort"></i></th>
            <th (click)="sort('lastName')">Last name <i class="fa fa-sort"></i></th>

            <th (click)="sort('firstName')">First name <i class="fa fa-sort"></i></th>

            <th>Address</th>
            <th>Gender</th>
            <th>Action</th>
          </tr>
        </thead>
        <h3 *ngIf="loading">Loading.......</h3>
        <tbody *ngIf="!loading">
          <tr
            *ngFor="let customer of customerList | paginate: { itemsPerPage: 5, currentPage: page,totalItems:totalLength }| orderBy:key:reverse">

            <th>
              <a class="p-text-table-customer">{{ customer?.code }}</a>
              <!-- [routerLink]="['./form-add-edit', customer?.id]" -->
            </th>
            <th>
              <p class="p-text-table-customer">{{ customer?.lastName }}</p>
            </th>
            <th>
              <p class="p-text-table-customer">{{ customer?.firstName }}</p>
            </th>

            <th>
              <p class="p-text-table-customer">{{ customer?.address }}</p>
            </th>
            <th>
              <p class="p-text-table-customer">{{ customer?.gender }}</p>
            </th>

            <th> <a class="detail-customer" [routerLink]="['../detail-customer',customer.id]">Detail</a>
              <button class="btn btn-primary mx-1 " (click)="editCustomer(customer.id)"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-warning" (click)="deleteStudent(customer.id)"><i class="fas fa-backspace"></i>
              </button>
            </th>
          </tr>
        </tbody>


      </table>
      <div class="fix-pagination">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
