nav.bg-customer {
  background-color: #ff704d;
  border-bottom: 2px solid #da0000;
  box-shadow: 8px 1px 12px 1px rgb(0 0 0 / 85%);
  color: red;
  .heard-right {
    margin-left: 35%;
  }
  a {
    color: #fff;
    font-weight: 500;
  }
  .logobox {
    background: #3930306e;
    padding: 0px 5px;
    border-radius: 5px;
    box-shadow: -1px 2px 1px 0px #0000005c;
    .logo {
      font-weight: 500;
      font-size: 18px;
    }
    .loclogo {
      color: #ff3300;
      font-size: 25px;
    }
  }
}
.navbar-dark .navbar-nav .active > .nav-link {
  color: #ff3300;
  font-weight: 700;
}
